{% extends 'layout.html' %}

{% block head %}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="{{ url_for('static', filename='channel.js') }}"></script>
{% endblock %}

{% block title %}
  {{ channel_data.name }}
{% endblock %}

{% block navbar %}
	<button class="btn btn-success m-2" id="menu-toggle">View all channels</button>
	{% if session.get("channel_name") %}
	  <button class="btn btn-danger m-2" id="leave-button" onclick="window.location.href='/';" >Leave channel</button>
	{% else %}
	  <form class="form-inline" action="/create_channel" method="POST">
	    <input class="form-control mr-sm-2" type="text" name="channel_name" placeholder="Enter new channel name">
	    <button class="btn btn-success" name="submit" type="submit">Create Channel</button>
	  </form>
	{% endif %}
{% endblock %}

{% block content %}
	<div>
		<h3>You are now in channel "{{ channel_data.name.capitalize() }}"</h3>
    <ul id="message_list" class="message_list mb-4">
      {% for message in channel_data.messages %}
      <div class="message">
      	<a class="message_profile-pic" href=""></a>
      	<a class="message_username" href="">{{ message.username.capitalize() }}</a>
      	<span class="message_timestamp">{{ message.timestamp }}</span>
      	<span class="message_content">{{ message.message }}</span>
      </div>
      {% endfor %}
    </ul>
	</div>

	<form class="input-group mb-3" id="form">
    <input type="text" class="form-control" id="message">
    <div class="input-group-append">
    	<input id="send-button" type="submit" class="btn btn-outline-secondary" value="Send">
    </div>
  </form>
{% endblock %}