{% extends 'layout.html' %}

{% block title %}
  Homepage
{% endblock %}

{% block navbar %}
  <button class="btn btn-success m-2" id="menu-toggle">View all channels</button>
  {% if session.get("channel_name") %}
    <button class="btn btn-danger m-2">Leave channel</button>
  {% else %}
    <form class="form-inline" action="/create_channel" method="POST">
      <input class="form-control mr-sm-2" type="text" name="channel_name" placeholder="Enter new channel name">
      <button class="btn btn-success" name="submit" type="submit">Create Channel</button>
    </form>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="text-center">
    <h3>Choose a channel using the sidebar on the left.</h3>
    <br>
    <h3>or</h3>
    <br>
    <h3>Create a channel in the navbar above</h3>
  </div>
{% endblock %}