<!DOCTYPE html>
<html>
  <head>
    {% block head %}{% endblock %}
    <title>Project 2 - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    <div>
      {% if session.get('username') %}
        <h1>You are logged in as {{ session.get('username') }}</h1>
        <a href="/logout">Logout</a>
      {% else %}
        <h1>You're at the homepage now</h1>
        <a href="/login ">Login</a>
      {% endif %}
    </div>
    <div class="main">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>